

<!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
<link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />

<body class="bg-slate-400 flex justify-center items-center">
    <main class="border-r-amber-800 p-5 bg-slate-900">
      <h1 class="text-orange-950 font-extrabold text-center text-4xl">Hello World</h1>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi.</p>
    </main>

  </body>